RewriteEngine on
RewriteCond %{HTTP_HOST} ^(www.)?juniper.local$
RewriteCond %{REQUEST_URI} !^/web/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /web/$1
RewriteCond %{HTTP_HOST} ^(www.)?juniper.local$
RewriteRule ^(/)?$ web/index.php [L]