$primary:#0f0f0f;
$secondary: #c32a4f;
$white: #fdfdfd;
$light: lighten($primary, 20);


// timings
$timing: cubic-bezier(.2, 1.14, 1, 1);
$transition: all .4s $timing;

// paddings
$gap: .75rem;
$ps: $gap * 2;
$pm: $gap * 4;
$pb: $gap * 6;

// breakpoints
$phone: 740px;
$tablet: 769px;
$desktop: 1441px;

// overall mobile break
$mobile: 1025px;

// break grid columns
$colBreak: $tablet;

// define with of project (in px but dont include string) to recalculate px to vw;
$projectWidth: 1920;
// project grid size
$gridWidth: 1366px;

// top layer z-index
$toplayer: 100;

// header height

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

// mixins
@import 'base/mixins';

// render que

@import 'base/reset';
@import 'base/typography';

@import 'layout/grid';
@import 'layout/header';


@import 'base/common';

@import 'views/page-home';

@import 'components/buttons';
@import 'components/forms';

@import 'layout/footer';
@import './../css/vendor/swiper.scss';
