{#
 	Title: filteringposts
 	Description: filtering
 	Category: formatting
 	Icon: admin-comments
 	Keywords: posts
 	Mode: edit
 	Align: left
 	PostTypes: page post
 	SupportsAlign: left right
 	SupportsMode: false
 	SupportsMultiple: false
#}
<style>
	.testform {
		border: 1px solid #0a4b78;
		padding: 20px;
	}
	.testform input {
		border: 1px solid black;
	}
</style>
<div class="wrapper" style="margin-top: 300px;">
	<form method="post" action="/" class="testform">
		<input name="inputajax1" type="text" placeholder="inputajax1">
		<input name="inputajax2" type="text" placeholder="inputajax2">
		<input name="inputajax3" type="text" placeholder="inputajax3">
		<input type="submit" class="submitform">
	</form>
</div>

