{#
 	Title: employee-grid
 	Description: This shows a grid of employees.
 	Category: formatting
 	Icon: admin-comments
 	Keywords: employee grid column
 	Mode: edit
 	Align: full
 	PostTypes: page post
 	SupportsAlign: left right full
 	SupportsMode: true
 	SupportsMultiple: true
#}
<div class="container mx-auto">
	<h1>{{ title }}</h1>
	<div class="grid lg:grid-cols-4 md:grid-cols-3 gap-4">
		<div class="max-w-sm bg-white border-4 rounded-none">
			<a href="#">
				You?
			</a>
		</div>
		{% for employee in fields.employees %}
			<div class="max-w-sm bg-white shadow dark:bg-gray-800 rounded-none">
				<a href="#">
					<img src="{{ employee.employee_image.url }}" alt="" />
				</a>
			</div>
		{% endfor %}
	</div>
</div>
