{#
 	Title: Filter
 	Description: This filters a chosen post type
 	Category: formatting
 	Icon: admin-comments
 	Keywords: filter posts
 	Mode: edit
 	Align: full
 	PostTypes: page post jobs projects
 	SupportsAlign: left right full
 	SupportsMode: true
 	SupportsMultiple: true
#}

<div class="filter-update-me" data-initial-data='{{ data }}'></div>