{#
	Title: Header
	Description:
	Category: formatting
	Icon: admin-comments
	Keywords:
	Mode: edit
	Align: full
	SupportsAlign: left right full
	SupportsMode: true
	SupportsMultiple: true
#}
<nav>
    <ul>
        <li><a href="{{ site.url }}">Home</a></li>
        <li><a href="{{ site.url }}/about">About</a></li>
        <li><a href="{{ site.url }}/contact">Contact</a></li>
    </ul>
</nav>