{#
 	Title: Project Filter
 	Description: This filters the project post types
 	Category: formatting
 	Icon: admin-comments
 	Keywords: project filter posts
 	Mode: edit
 	Align: full
 	PostTypes: page post
 	SupportsAlign: left right full
 	SupportsMode: true
 	SupportsMultiple: true
#}

<div class="project-filter-update-me"></div>