{#
	Title: Section-tracker
	Description:
	Category: formatting
	Icon: admin-comments
	Keywords:
	Mode: edit
	Align: full
	PostTypes: page post
	SupportsAlign: left right full
	SupportsMode: true
	SupportsMultiple: true
#}
<div class="section-tracker">
	<ul class="section-tracker__list"></ul>
</div>
