.is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: unset !important;
}
.entry-content,
header,
footer,
.editor-styles-wrapper {
  .wp-block-group {
    padding-left: 20px;
    padding-right: 20px;

    & > * {
      max-width: var(--wp--style--global--wide-size) !important;
      margin-left: auto;
      margin-right: auto;
    }

    &.alignwide > * {
      max-width: var(--wp--style--global--content-size) !important;
    }

    &.alignfull > * {
      max-width: 100% !important;
    }
  }
}

:where(.editor-styles-wrapper) p,
.editor-styles-wrapper {
  font-size: var(--wp--preset--font-size--mini);
}

.editor-styles-wrapper :where(.wp-block-group) {
  margin-block-start: 0 !important;
}