html {
	line-height: 1.15;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	font-size: 1rem;
}

body {
	font-family: myriad-pro, myriad-pro-condensed, myriad-pro-semiextended, myriad-pro-semi-condensed, Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	font-weight: inherit;
}