@import '../../src/css/base/variables';
@import '../../src/css/base/mixins';
@import '../../src/css/base/typography';

.section-tracker {
	position: sticky;
	top: 160px;
	&__list {
		margin-top: 60px;
		background-color: var(--wp--preset--color--wjote);
		padding: 0;
		@include media($wp_mobile) {
			display: none;
		}

		li {

			@include section-tracker-a();

			&.active {

				a {
					color: var(--wp--preset--color--primary);
					background-color: var(--wp--preset--color--blueish);
					&::before {
						opacity: 1;
					}
				}
			}

		}
	}

}

