{#
Title: Test block
Description: Test block
Category: test-blocks
Icon: admin-comments
Keywords: hero
Mode: edit
Align: left
SupportsAlign: left right
SupportsMode: true
SupportsMultiple: true
#}


<section data-{{ block.id }} class="test-block">
    <div class="container">
        <div class="row">
            <div class="col-4">
                TEST BLOCK {{ xyz }}
            </div>
        </div>
    </div>
</section>